/* Reset básico y variables de alto contraste */
:root {
    --color-fondo: #f4f4f9;
    --color-texto: #1a1a1a;
    --color-espacio: #005f73;
    --color-espacio-hover: #0a9396;
    --color-foco: #e9d8a6;
}
